{% extends "layout.html" %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="twelve columns">
            <h3>AllGamer Version API</h3>
            <hr>
            <p>Here you will find direct links to the latest versions of games, mods, and other software.</p>
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            <h4>Games</h4>
            <hr>
            <ul>
            <li><a href="/minecraft">Minecraft</a></li>
            </ul>
        </div>
        <div class="four columns">
            <h4>Mods</h4>
            <hr>
            <ul>
            </ul>
        </div>
        <div class="four columns">
            <h4>Other</h4>
            <hr>
            <ul>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}