{% extends "layout.html" %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="six columns">
            <h4>Latest Stable Versions</h4>
            <hr>
            <ul>
            <li><a href="/sourcemod/download/linux/stable/latest">Linux</a></li>
            <li><a href="/sourcemod/download/windows/stable/latest">Windows</a></li>
            <li><a href="/sourcemod/download/mac/stable/latest">Mac</a></li>
            </ul>
        </div>
        <div class="six columns">
            <h4>Latest Dev Versions</h4>
            <hr>
            <ul>
            <li><a href="/sourcemod/download/linux/dev/latest">Linux</a></li>
            <li><a href="/sourcemod/download/windows/dev/latest">Windows</a></li>
            <li><a href="/sourcemod/download/mac/dev/latest">Mac</a></li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}